@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #EBE9EA;
  background-color: #2A373D;
  min-height: 100vh ;
  max-width: 100vw;
}
.wrapper {
  padding: 0 10% 0 10%;
  }

.title{
  /* margin-top: 80px; */
  font-weight: 600;
  font-size: 30px;
}
.main{
  padding-top: 80px;
}

/* contact */
.contact{
  transition: all 0.2s;
}
.contact:hover{
  transform: scale(1.1);
  color: black;
  cursor: pointer;
}

/* projects */
.projects-img{
  width:100%
}

/* footer */
footer{
  background-color: navy;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: 130px;
  width: 100%;
}
.footer-view{
  background-color: navy;
  margin-top: 16px;
}
.logo{
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .contact{
    padding-bottom: 6%;
  }
}
